POSTGRES_DB=salao
POSTGRES_USER=salao
POSTGRES_PASSWORD=salao_dev
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/salao
SPRING_DATASOURCE_USERNAME=salao
SPRING_DATASOURCE_PASSWORD=salao_dev
SERVER_PORT=8080
FRONTEND_PORT=4200
